<h1>Add A word and a phrase to search</h1>

<form action="/caregories" method="post">
  <label for="searchTerm">Word to Search for</label>
  <input id="searchTerm" name="searchTerm" type="text">
  <label for="phraseToSearch">Phrase to look through for</label>
  <input id="phraseToSearch" name="phraseToSearch" type="text">
  <button type="submit">Add</buttton>
</form>
