<h1>To Do List Item Details: </h1>

<h2>@Model["CountDisplay"].Phrase</h2>
<h3>Category: @Model["WordCounter"].SearchTerm</h3>

<a href='/WordCounter/@Model["wordCounter"].Id/items/new'>Add another search</a>
<a href='/WordCounter'>View all searches</a>
